extends layout

block content 
    div(class="ui message attached " + background_color  style="height:50px") Greatest Hits
    div(class="ui attached segment")
      div(class="ui three column grid")
        each album in albums
          div(class="column")
            div(class="ui card")
              div(class="image")
                img(src=album.image_url)
              div(class="content")
                div(class="header")
                  span(class="album-title")=album.title
                div(class="meta")
                  span(class="meta-info")=album.artist
                  br
                  span(class="meta-info")=album.price
      

  

